# メインのDiscordボットのトークン (必須)
# https://discord.com/developers/applications
# Main Discord bot token (required)
TOKEN=

# 歌詞を検索するためのGoogleカスタム検索エンジンのAPIキー(任意)
# https://developers.google.com/custom-search/v1/introduction
# にて取得することができます
# API Key to use Google Custom Search Engine to search lyrics (optional)
CSE_KEY=

# キューなどのデータをバックアップに関する設定
# 詳細はドキュメントサイトをご覧ください。
# Backup server configuration
# Please see the documentation site for more infos
DB_URL=
DB_TOKEN=
