.env.sample                  linguist-language=Shell
config.json.sample           linguist-language=jsonc
config*.json                 linguist-language=jsonc
docker-compose.yml.sample    linguist-language=yml
docs/versioned_docs/*        linguist-generated
docs/versioned_sidebars/*    linguist-generated
*                            text=auto
*.yml                        text eol=lf
*.ts                         text eol=crlf
