.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vs/
node_modules
dist
typings
*.env
*.exe
node
!util/**/node
*.template.*
*.temp.*
*.tmp*
*.log
addon
config.json
logs/*
!**/.gitkeep
