{
  "adminId": "", // 管理ユーザーのユーザーID (任意)、なければnull

  "debug": false, // デバッグ可能かどうか
  
  "maintenance": false, // メンテナンス中かどうか
  // ボットの操作を全封鎖するときのみ設定してください。

  "errorChannel": "", // エラーログを送信するテキストチャンネル、なければnull
  // エラーレポートを送るテキストチャンネルのID (任意)

  "proxy": "", // HTTPプロキシのアドレス、なければnull

  "prefix": ">" // デフォルトプレフィックス、一文字。省略されたりnullなら`>`
}