{
  // 管理ユーザーのユーザーID (任意)、なければnull
  "adminId": [
    "管理者AのID",
    "管理者BのID"
  ],

  // デバッグ可能かどうか
  "debug": false,

  // メンテナンス中かどうか
  // ボットの操作を全封鎖するときのみ設定してください。
  "maintenance": false,

  // エラーログを送信するテキストチャンネルのID、なければnull
  "errorChannel": "",

  // デフォルトプレフィックス。複数文字も可。省略されたりnullなら`>`
  "prefix": ">",

  // HTTPサーバーをたてるかどうか。trueにすると8081番で開かれます。
  "webserver": true,

  // BGM機能の設定。何も設定しない場合は、{}（このまま）にします
  "bgm": {},

  // MessageContent IntentがDiscord Developers Portalでオフになっている場合はtrueにします。
  // それ以外の場合はfalse
  "noMessageContent": false,

  // 参加しているユーザーがボイスチャンネルから退出しても、再生を一時停止しないボイスチャンネルのIDを配列で指定します。
  "twentyFourSeven": [],

  // 参加しているユーザーがボイスチャンネルから退出しても、再生を一時停止しない場合にはtrueに設定します。
  "alwaysTwentyFourSeven": false,

  // キャッシュレベルの設定。"memory"か"persistent"を設定します。詳細はドキュメントをご覧ください。
  "cacheLevel": "",

  // キャッシュの最大容量(MB単位)
  "cacheLimit": 500,

  // デフォルトの言語。日本語の場合は"ja"
  "defaultLanguage": "ja",

  // 地域の設定。日本の場合は"JP"
  "country": "JP",

  // 本ボットと同じコードで動かしているボットがほかにあれば、ここにIDを入力することで、
  // お互いキュー等がインポートできるようになり、相互運用しやすくなります。
  // 予期しないエラーを防止するため、他のプログラムで動作するボットのIDは入力しないでください。
  // 何もない場合はnullか、[]を指定してください。
  "botWhiteList": [
    "別のボットのID",
    "また別のボットのID"
  ],

  // DJロールをカスタマイズするための設定です。
  // 特に必要がなければこのままでいいはずです。
  "djRoleNames": [
    "DJ"
  ]
}
